<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" ng-init="navbarCollapsed = true" class="navbar-toggle" ng-click="navbarCollapsed = false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="home">
				<img alt="ethive" src="assets/images/logo.png" />
			</a>
		</div>

		<!-- Nav for large screens -->
		<div class="hidden-xs">
			<ul class="nav navbar-nav navbar-right">
				<li><a ui-sref="for-providers"><strong><span class="text-info"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> For Providers</strong></span></a></li>
				<li class="active"><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
				<li ng-if="!user.isLoggedIn()"><a ui-sref="login">Log In/Sign Up</a></li>
				<li ng-if="user.isLoggedIn()" class="dropdown" dropdown>
						<a href class="dropdown-toggle" dropdown-toggle>
							{{user.email}} <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a ui-sref="account">Account</a></li>
							<li><a href ng-click="logout()">Log Out</a></li>
						</ul>
				</li>
			</ul>
		</div>

		<!-- Nav for small screens -->
		<div class="visible-xs-block">
			<div class="navbar-collapse" collapse="navbarCollapsed" ng-click="navbarCollapsed = true">
				<div class="invisible-underlay"></div>
				<ul class="nav navbar-nav navbar-right">
					<li><a ui-sref="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a></li>
					<li><a ui-sref="for-providers"><strong><span class="text-info"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> For Providers</strong></span></a></li>
					<li ng-if="!user.isLoggedIn()"><a ui-sref="login">Log In</a></li>
					<li ng-if="!user.isLoggedIn()"><a ui-sref="signup.default">Sign Up</a></li>
					<li ng-if="user.isLoggedIn()"><a ui-sref="account">Account</a></li>
					<li ng-if="user.isLoggedIn()"><a href ng-click="logout()">Log Out</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>