<h1>Ethive Login</h1>
<form ng-show="!user" name="loginForm" class="form-horizontal" role="form" ng-submit="submit()" novalidate>
  <div ng-show="status === 'error'" class="alert alert-danger">Sorry, we are experiencing technical difficulties. Please try again in a few minutes.</div>
  <div ng-show="status === 'unverified'" class="alert alert-danger">You still need to verify your email address. Please check your email and click on the verification link from us.</div>
  <div ng-show="status === 'brute'" class="alert alert-danger">You have had too many unsuccessful login attempts. Your account has been temporarily disabled. Please wait a few minutes and try again.</div>
  <div class="form-group has-feedback" ng-class="{'has-error': status === 'user'}">
    <label for="username" class="col-sm-2 control-label">Email/Username</label>
    <div class="col-sm-10">
      <input ng-model="username" name="username" type="text" class="form-control" id="username" placeholder="Email/Username" ng-change="status = ''" required autofocus focus-on="username" select-on-focus>
      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': status === 'username'}"></span>
      <div class="help-block" ng-show="status === 'user'">Sorry, we can't find that username or email address in our system.</div>
    </div>
  </div>
  <div class="form-group has-feedback" ng-class="{'has-error': status === 'password'}">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input ng-model="password" name="password" type="password" class="form-control" id="password" placeholder="Password" ng-change="status = ''" required focus-on="password" select-on-focus>
      <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': status === 'password'}"></span>
      <div class="help-block" ng-show="status === 'password'">Oops! Wrong password.</div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="remember"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid">Login</button>
      <span><a ui-sref="signup">Or, sign up for Ethive!</a></span>
    </div>
  </div>
</form>
<div ng-show="user && status !== 'success'">
  <div class="alert alert-danger">Oops! Looks like you're already logged in. If you would like to login as another user, you will have to logout first.</div>
  <button class="btn btn-primary pull-right" ng-click="logout()">Logout</button>
</div>
<div ng-show="user && status === 'success'">
  <div class="alert alert-success">Login successful!</div>
</div>