@import "jspm_packages/github/jczerwinski/bootstrap@master/less/bootstrap.less";

@import "styles/bootswatch.less";

@import "components/header/header.less";
@import "routes/errors/errors.less";
@import "routes/service/service.less";
@import "routes/for-providers/for-providers.less";
@import "components/errors/errors.less";
@import "components/serviceSelector/serviceselector.less";
@import "components/footer/footer.less";
@import "routes/terms-of-service/terms-of-service.less";

// To prevent validation styling on info-only form help blocks
.help-block.no-validation {
	color: lighten(@text-color, 25%) !important;
}

// Custom Styles
.btn.btn-cancel {
    background-color: #FFEEEE;
    border-color: #dc9d9b;
}

.form-control {
    border-width: 1px;
}

.glyphicon.big-icon {
    font-size: 2.8em;
    float: left;
    margin-right: .25em;
    margin-bottom: .25em;
}


/* Bootstrap fixes/overrides */
h1,h2,h3 {
    vertical-align:middle; // Align with badge.
}

h1>.badge, h2>.badge, h3>.badge { // Align with headers
    vertical-align:middle;
    margin-top: -0.5em;
}

.form-control-inline, .form-control-inline * {
    display: inline-block !important;
    width: initial !important; // Smaller width on form elements
}

.form-control-feedback-inline {
    position: static;
    display: inline;
};

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ngAutocomplete fix -- not visible with angular-bootstrap modals without this */
.pac-container {
    z-index: 1100 !important;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.index li {
    list-style: none;
}

.index > ul {
    display: inline-block;
}

.index > ul > li::first-line {
    font-size: 1.7em;
    color: #000000;
}

.index > ul > li > ul {
    margin-top: .5em;
}

.index > ul > li > ul > li {
    text-decoration: none;
    margin-bottom: .1em;
    font-size: 1em;
}

.index h1 {
    text-align: center;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    border-bottom: 1px solid #e5e5e5;
}

.option {
    text-align: center;
    margin: 80px 0;
}

.option h1 {
    margin: 30px;
}

.search {
    text-align: center;
}

.search h1 {
    margin: 30px;
}

.search .form-group {
    margin: 30px;
}

.search li {
    display: inline-block;
}

.browse {
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #EEEEEE;
    border-radius: 20px;
    -moz-border-radius: 20px;
}

.browse ul {
    padding: 0;
}

.browse li {
    margin: 0 10px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Utility classes */

.error {
    background-color: #ffeeee;
    border: 1px dashed red;
    padding: 1em;
}

.error .glyphicon {
    color: red;
    font-size: 2.5em;
    vertical-align: middle;
    margin: .3em .2em 0 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
 /*   .container {
        max-width: 730px;
    }
*/
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}