<div class="provider">
	<h1>
		{{provider.name}}
		<span class="btn btn-xs btn-info">Provider <span class="glyphicon glyphicon-info-sign"></span></span>
		<span ng-if="provider.isAdministeredBy(user)" ui-sref="^.edit" class="btn btn-xs btn-primary">Edit <span class="glyphicon glyphicon-edit"></span></span>
		<span ng-if="provider.isAdministeredBy(user)" ng-click="deleteProvider()" class="btn btn-xs btn-danger">Delete <span class="glyphicon glyphicon-trash"></span></span>
	</h1>
	</h1>
	</h1>
	<div ui-view>
		<h2>Offers <a ng-if="provider.isAdministeredBy(user)" ui-sref="offer.new({provider: provider})"><button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span> Add New Offer</button></a></h2>
		<table ng-if="provider.offers.length" class="table table-striped">
			<tr>
				<th>Service</th>
				<th>Location</th>
				<th class="price">Price</th>
			</tr>
			<tr ng-repeat="offer in provider.offers | orderBy : 'service.name'">
				<td><a ui-sref="offer.existing.view({offerID: offer._id})">{{offer.service.name}}</a></td>
				<td>{{offer.location}}</td>
				<td class="price">{{offer.price.amount | currency: offer.price.currency}}</td>
			</tr>
		</table>
		<p ng-if="!provider.offers.length">You have no offers yet. Try adding one!</p>
	</div>
</div>