<h2>Create New Service</h2>
<form name="createServiceForm" class="form-horizontal" role="form" ng-submit="submit()" novalidate>
	<div class="form-group has-feedback" ng-class="{'has-error': createServiceForm.name.$invalid && createServiceForm.name.$dirty, 'has-success': createServiceForm.name.$valid}">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input ng-model="newService.name" name="name" type="text" class="form-control" id="name" placeholder="Service Name. eg. Ankle Surgery" required autofocus />
			<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': createServiceForm.name.$invalid && createServiceForm.name.$dirty, 'glyphicon-ok': createServiceForm.name.$valid}"></span>
			<div class="help-block">Should be able to stand alone without any context from ancestor services. Should also be capitalized as a proper noun. For example, use "Orthopedic Ankle Surgery", not "Ankle".</div>
			<div class="help-block" ng-show="createServiceForm.name.$error.required && createServiceForm.name.$dirty">A name is required.</div>
		</div>
	</div>
	<div class="form-group has-feedback" ng-class="{'has-error': createServiceForm.id.$invalid && createServiceForm.id.$dirty, 'has-success': createServiceForm.id.$valid}">
		<label for="id" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input ng-model="newService.id" name="id" type="text" class="form-control" id="id" placeholder="Unique Service ID. Lowercase letters and dashes only. eg. ankle-surgery" unique-service-id service-id required/>
			<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': createServiceForm.id.$invalid && createServiceForm.id.$dirty, 'glyphicon-ok': createServiceForm.id.$valid}"></span>
			<div class="help-block">Should be able to stand alone without any context from ancestor services. For example, use "orthopedic-ankle-surgery", not "ankle".</div>
			<div class="help-block" ng-show="createServiceForm.id.$error.required && createServiceForm.id.$dirty">An ID is required.</div>
			<div class="help-block" ng-show="createServiceForm.id.$error.id && createServiceForm.id.$dirty">An ID must consist only of lowercase letters, numbers, and dashes.</div>
			<div class="help-block" ng-show="createServiceForm.id.$error.uniqueServiceId && createServiceForm.id.$dirty">That ID is already in use.</div>
		</div>
	</div>
	<div class="form-group">
		<label for="type" class="col-sm-2 control-label">Type</label>
		<div class="col-sm-10">
			<label class="radio-inline">
				<input type="radio" ng-model="newService.type" name="type" id="category" value="category" required> Category
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="newService.type" name="type" id="service" value="service" required> Service
			</label>
			<div class="help-block">Categories may contain sub-services, but cannot be the subject of an offer. Services can be the subject of an offer, but cannot contain sub-services.</div>
		</div>
	</div>
	<div class="form-group">
		<label for="status" class="col-sm-2 control-label">Status</label>
		<div class="col-sm-10">
			<label class="radio-inline">
				<input type="radio" ng-model="newService.status" name="status" id="draft" value="draft" required> Draft
			</label>
			<label class="radio-inline">
				<input type="radio" ng-model="newService.status" name="status" id="published" value="published" required> Published
			</label>
			<div class="help-block">Draft services are only visible to admins. Published services are visible to everyone.</div>
		</div>
	</div>
	<div class="form-group">
		<label for="parent" class="col-sm-2 control-label">Parent</label>
		<div class="col-sm-10">
		<div class="form-control-static">
			{{newService.parent.name}} <serviceselectorbutton options="parentOptions" ng-model="newService.parent" name="parent"></serviceselectorbutton>
			<span class="glyphicon form-control-feedback" ng-class="{'has-error': createOfferForm.service.$invalid && createOfferForm.service.$dirty, 'glyphicon-ok': createOfferForm.service.$valid}"></span>
		</div>
	</div>
	</div>
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10 has-feedback" ng-class="{'has-error': createServiceForm.description.$error.required && createServiceForm.description.$dirty, 'has-success': createServiceForm.description.$valid}">
			<textarea ng-model="newService.description" name="description" class="form-control" id="description" placeholder="Add a description of this service here." required></textarea>
			<span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': createServiceForm.description.$invalid && createServiceForm.description.$dirty, 'glyphicon-ok': createServiceForm.description.$valid}"></span>
			<div class="help-block" ng-show="createServiceForm.description.$error.required && createServiceForm.description.$dirty">A description is required.</div>
		</div>
	</div>
	<div class="form-group">
		<label for="terms" class="col-sm-2 control-label">Terms of Service</label>
		<div class="col-sm-10">
			<textarea ng-model="newService.terms" name="terms" class="form-control" id="terms" placeholder="Here you can add terms and conditions of service that providers who wish to offer this service must agree to."></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" id="submit" class="btn btn-success" ng-disabled="createServiceForm.$invalid">Save New Service</button>
			<button ng-click="cancel()" type="button" id="cancel" class="btn btn-cancel">Cancel</button>
		</div>
	</div>
</form>