<h1>{{service.name}}
<a ng-if="service.isAdministeredBy(user)" ui-sref="service.editService"><button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</button></a>
<span ng-if="service.type === 'category'" class="btn btn-xs btn-info">Category <span class="glyphicon glyphicon-info-sign"></span></span>
<span ng-if="service.type === 'service'" class="btn btn-xs btn-info">Service <span class="glyphicon glyphicon-info-sign"></span></span></h1>
<!-- Description. Markdown? -->
<div ui-view>
	<p>{{service.description}}</p>
	<!-- Statistics - ie. price distribution, number of offers -->
	<!-- Children --><!-- Have a place to set currency -->
	<div ng-switch="service.type">
		<div ng-switch-when="category">
			<h2>Sub-services <span class="badge">{{service.children.length}}</span> <a ng-if="service.isAdministeredBy(user)" ui-sref="service.newService"><button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new sub-service</button></a></h2>
			<ul ng-if="service.children.length" class="list-inline">
				<li class="service" ng-repeat="child in service.children"><a ui-sref="service({serviceID: child._id})"><button type="button" class="btn btn-default">{{child.name}}</button></a></li>
			</ul>
			<p ng-if="!service.children.length">Sorry, there aren't any sub-services here yet. Check back later!</p>
		</div>
		<!-- Offers -->
		<div ng-switch-when="service">
			<h3>{{service.name}} Prices <span class="badge">{{service.offers.length}}</span></h3>
			<table class="table table-striped" ng-if="service.offers.length">
				<tr>
					<th>Provider</th>
					<th>Location(s)</th>
					<th>Price</th>
				</tr>

				<tr ng-repeat="offer in service.offers">
					<td><a target="_blank" ng-href="{{offer.landing}}">{{offer.provider.name}} <span class="glyphicon glyphicon-new-window"></span></a></td>
					<td>{{offer.location}}</td>
					<td class="price">{{offer.price.amount | currency}}</td>
				</tr>
			</table>
			<p ng-if="!service.offers.length">Sorry, there aren't any prices here yet. Check back later!</p>
		</div>
	</div>
</div>