<ethive-service-breadcrumbs service="service"></ethive-service-breadcrumbs>
<h1>{{service.name}}
<a ng-if="service.isAdministeredBy(user)" ui-sref="^.edit"><button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-pencil"></span> Edit</button></a>
<span ng-if="service.type === 'category'" class="btn btn-xs btn-info">Category <span class="glyphicon glyphicon-info-sign"></span></span>
<span ng-if="service.type === 'service'" class="btn btn-xs btn-info">Service <span class="glyphicon glyphicon-info-sign"></span></span>
<span style="display: inline-block; padding: 0 5px; position: relative; left: -5px" tooltip="Delete this service. Only services without any sub-services or offers can be deleted."><button type="button" ng-if="service.isAdministeredBy(user)" ng-disabled="!service.canDelete()" ng-click="delete()" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button></span>
</h1>
<!-- Description. Markdown? -->
<div ui-view>
	<p>{{service.description}}</p>
	<!-- Statistics - ie. price distribution, number of offers -->
	<!-- Children --><!-- Have a place to set currency -->
	<div ng-switch="service.type">
		<div ng-switch-when="category">
			<h2>Sub-services <span class="badge">{{service.children.length}}</span> <a ng-if="service.isAdministeredBy(user)" ui-sref="^.^.new({parent: service})"><button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus"></span> Add new sub-service</button></a></h2>
			<ol ng-if="service.children.length">
				<li ng-repeat="child in service.children | orderBy: 'name'" class="sub-service">
					<a ui-sref=".({serviceID: child.id})">{{child.name}}</a>
				</li>
			</ol>
			<p ng-if="!service.children.length">Sorry, there aren't any sub-services here yet. Check back later!</p>
		</div>
		<!-- Offers -->
		<div ng-switch-when="service">
			<h3>{{service.name}} Prices <span class="badge">{{service.offers.length}}</span> <a ng-if="user.isLoggedIn() && user.providers.length" ui-sref="offer.new({service: service})"><button type="button" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Offer this Service</button></a></h3>
			<table class="table offer-table table-striped" ng-if="service.offers.length">
				<tr>
					<th>Provider</th>
					<th>Location <input ng-model="locationFilter" class="form-control form-control-inline input-xs" placeholder="Filter by location..."><!-- <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter</button>--></th>
					<th class="form-inline">
						<label class="pull-right">Price
							<select class="form-control input-sm currency-selector" ng-model="user.preferences.currency" ng-options="currency.code as currency.code + '   ' + currency.name for currency in currencies" ng-change="changeCurrency()">
							</select>
						</label>
					</th>
				</tr>

				<tr ng-repeat="offer in service.offers | filter : locationFilter | orderBy : userPrice">
					<td><a ui-sref="offer.existing.view({offerID: offer._id})">{{offer.provider.name}}</a></td>
					<td>{{offer.location}}</td>
					<td class="price">{{offer.priceIn(user.preferences.currency) | currency : user.preferences.currency}}</td>
				</tr>
			</table>
			<p ng-if="!service.offers.length">Sorry, there aren't any prices here yet. Check back later!</p>
		</div>
	</div>
</div>