<!-- use display function provided by client to decide whether and how to display service -->
<li ng-if="display.length" class="serviceSelectorNodeHeader">
    <span class="selectedIcon" aria-hidden="true"></span>
    <a ng-if="display.indexOf('navigable') !== -1 && !isNavigated(service)" href ng-click="navigate(service);">{{service.name}}</a>
    <span ng-if="display.indexOf('navigable') === -1 || isNavigated(service)">{{service.name}}</span>
    <button ng-click="select(service)" ng-if="display.indexOf('selectable') !== -1" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Select</button>
</li>