serviceselector .selected > .serviceSelectorNodeHeader
    background-color #dff0d8
    border-style dotted
    border-width 1px
    border-color #428bca
    padding 0 .5em
    border-radius 5px
    
serviceselector ul
    list-style-type none