<h1 class="modal-header">Create a new Provider</h1>
<div class="modal-body">
<form name="createProviderForm" class="form-horizontal" role="form" ng-submit="submit(createProviderForm)" novalidate>
<div class="form-group has-feedback" ng-class="{'has-error': createProviderForm.name.$invalid && createProviderForm.name.$dirty, 'has-success': createProviderForm.name.$valid}">
  <label for="name" class="col-sm-2 control-label">Name</label>
  <div class="col-sm-10">
    <input ng-model="newProvider.name" name="name" type="text" class="form-control" id="name" placeholder="Provider Name" required autofocus />
    <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': createProviderForm.name.$invalid && createProviderForm.name.$dirty, 'glyphicon-ok': createProviderForm.name.$valid}"></span>
    <div class="help-block">The name of the person or organization that will be providing services. eg. Dr. Douglas Adams, Wayne Enterprises Ltd.</div>
    <div class="help-block" ng-show="createProviderForm.name.$error.required && createProviderForm.name.$dirty">A name is required.</div>
  </div>
</div>
<div class="form-group has-feedback" ng-class="{'has-error': createProviderForm.id.$invalid && createProviderForm.id.$dirty, 'has-success': createProviderForm.id.$valid}">
  <label for="name" class="col-sm-2 control-label">ID</label>
  <div class="col-sm-10">
    <input ng-model="newProvider._id" name="id" type="text" class="form-control" id="id" placeholder="Unique Provider ID. Lowercase letters and dashes only. eg. ankle-surgery" provider-id unique-provider-id required autofocus />
    <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': createProviderForm.id.$invalid && createProviderForm.id.$dirty, 'glyphicon-ok': createProviderForm.id.$valid}"></span>
    <div class="help-block">Should be a simplified version of the provider name. eg. dr-douglas-adams, wayne-enterprises.</div>
    <div class="help-block">Be aware that, once created, the Provider ID can not be changed.</div>
    <div class="help-block" ng-show="createProviderForm.id.$error.required && createProviderForm.id.$dirty">An ID is required.</div>
    <div class="help-block" ng-show="createProviderForm.id.$error.id && createProviderForm.id.$dirty">An ID must consist only of lowercase letters, numbers, and dashes.</div>
    <div class="help-block" ng-show="createProviderForm.id.$error.uniqueProviderId && createProviderForm.id.$dirty">That ID is already in use.</div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" id="submit" class="btn btn-success" ng-disabled="createProviderForm.$invalid">Create New Provider</button>
    <button type="button" id="cancel" ng-click="cancel()" class="btn btn-cancel">Cancel</button>
  </div>
</div>
</form>
</div>