<!-- Title/Header? -->
<h1>{{service.name}}</h1>
<!-- Description. Markdown? -->
<p>{{service.description}}</p>
<!-- Statistics - ie. price distribution, number of offers -->
<!-- Children --><!-- Have a place to set currency -->
<div ng-if="service.children"></div>
<!-- Offers -->
<div ng-if="service.offers">
	<h3>{{service.name}} Prices</h3>
	<table class="table">
		<tr>
			<th>Provider</th>
			<th>Location(s)</th>
			<th>Valid Until</th>
			<th>Price</th>
		</tr>
		<tr ng-repeat="offer in service.offers">
			<td><a ui-sref="provider({providerID: offer.provider.id})">{{offer.provider.name}}</a></td>
			<td>{{offer.location}}</td>
			<td>{{offer.expires}}</td>
			<td class="price">{{offer.price.amount | currency}}</td>
			<td class="details"><a href="/providers/{{offer.provider.id}}/offers/{{offer.id}}">details</a></td>
		</tr>
	</table>
</div>